@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
    margin: 0;
    overflow: hidden;
}

.facts-page {
    height: 100vh;
    background-color: #610C0C;
    display: flex;
    flex-direction: column;
}

.question-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: white solid 2px;
    font-family: 'Josefin Sans', sans-serif;
}

.question-part button {
    justify-self: flex-start;
    width: 80px;
    font-weight: 800;
    border: none;
    border-radius: 40px;
    padding: 14px 20px;
    font-size: 16px;
    margin: 10px;
    color: white;
    background-color: rgb(60, 31, 31);
    box-shadow: 2px 4px 2px #190d0d;
}

.question-part button:hover {
    transform: translateY(3px);
    box-shadow: 2px 5px 4px #170a0a;
}

.question-part button:active {
    transform: scale(0.97);
}


.question {
    background-color: #EBB214;
    justify-self: center;
    padding: 35px 10px;
    border-radius: 40px;
    font-size: 25px;
    margin: 20px 80px;
    text-align: center;
    box-shadow: 2px 4px 2px #231e10;
}

.facts-part {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.facts {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
}

.fact {
    text-align: center;
    padding: 40px;
    font-size: 19px;
    border-radius: 15px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.white {
    background-color: #F2F0F0;
}

.yellow {
    background-color: #EEB825;
}

.images {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
}

.image {
    width: 73%;
    margin: 27px;
}