.PokeDex {
  text-align: center;
  background-color: lightblue;
  height: 100vh;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.image {
  border: solid 2px black;
  max-width: 50%;
  align-self: center;
}

.name {
  background-color: rgb(236, 235, 235);
  padding: 10px;
  border-radius: 10px;
  border: black 1px solid;
  width: 48%;
  align-self: center;
}

.type {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  width: 54%;
}

.all-types {
  display: flex;
  gap: 5px;
}

.typeName {
  padding: 7px 10px;
  border-radius: 10px;
}

.normal  { background-color: #A8A77A; }
.fire    { background-color: #EE8130; }
.water   { background-color: #6390F0; }
.electric{ background-color: #F7D02C; }
.grass   { background-color: #7AC74C; }
.ice     { background-color: #96D9D6; }
.fighting{ background-color: #C22E28; }
.poison  { background-color: #A33EA1; }
.ground  { background-color: #E2BF65; }
.flying  { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug     { background-color: #A6B91A; }
.rock    { background-color: #B6A136; }
.ghost   { background-color: #735797; }
.dragon  { background-color: #6F35FC; }
.dark    { background-color: #705746; }
.steel   { background-color: #B7B7CE; }
.fairy   { background-color: #D685AD; }


.arrows {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

.arrow {
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 2px gray;
  font-weight: 700;
}

.right-side {
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.infoBtn {
  background-color: rgb(236, 235, 235);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 2px gray;
  font-weight: 700;
}

.infoBtnOn {
  background-color: rgb(102, 255, 102);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 2px gray;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
}

.info-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 235, 235);
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

.info-panel p {
  margin: 5px;
}

.moves-panel {
  background-color: rgb(236, 235, 235);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.movesBtn {
  background-color: rgb(236, 235, 235);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 2px gray;
  font-weight: 700;
}

.movesBtnOn {
  background-color: rgb(102, 255, 102);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 2px gray;
  font-weight: 700;
}

.movesBtn:hover, .movesBtnOn:hover, .infoBtn:hover, .infoBtnOn:hover {
  transform: translateY(2px);
  box-shadow: 2px 4px 8px rgb(100, 98, 98);
}

.movesBtn:active, .movesBtnOn:active, .infoBtn:active, .infoBtnOn:active {
  transform: scale(0.98);
  box-shadow: 2px 6px 6px rgb(54, 52, 52);
}

h2 {
  font-size: 28px;
}