.PokeDex {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.arrow {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
}

.right-side {
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.infoBtn {
  background-color: rgb(71, 65, 251);
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.movesBtn {
  background-color: rgb(102, 255, 102);
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 18px;
}